[submodule "dependencies/yumiplanning"]
	path = dependencies/yumiplanning
	url = https://github.com/BerkeleyAutomation/yumiplanning.git
[submodule "dependencies/curobo"]
	path = dependencies/curobo
	url = https://github.com/NVlabs/curobo.git
[submodule "dependencies/dexgrasp"]
	path = dependencies/dexgrasp
	url = git@github.com:BerkeleyAutomation/dexgrasp.git
[submodule "dependencies/yumirws"]
	path = dependencies/yumirws
	url = git@github.com:BerkeleyAutomation/yumirws.git
[submodule "dependencies/poco"]
	path = dependencies/poco
	url = git@github.com:pocoproject/poco.git
