[submodule "dependencies/hamer_helper"]
	path = dependencies/hamer_helper
	url = git@github.com:brentyi/hamer_helper.git
[submodule "dependencies/jaxls"]
	path = dependencies/jaxls
	url = git@github.com:brentyi/jaxls.git
[submodule "dependencies/raftstereo"]
	path = dependencies/raftstereo
	url = git@github.com:kerrj/RAFT-Stereo.git
